/* Arkaplan resmi */
body {
    margin: 0;
    padding: 0;
    background-image: url('../images/arka_plan.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    position: relative;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    backdrop-filter: blur(6px);
    background-color: rgba(0, 0, 0, 0.35);
    z-index: -1;
}

/* Giriş sayfası container */
.login-container {
    max-width: 450px;
    margin: 0 auto;
    margin-top: 12%;
    text-align: center;
    color: white;
    padding: 40px 30px;
    border-radius: 15px;

    /* Cam efekti kutu */
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

/* Başlık */
.login-container h1 {
    font-size: 36px;
    margin-bottom: 40px;
}

/* Buton grubu */
.button-group button {
    background-color: #004085;
    color: white;
    border: none;
    padding: 15px 30px;
    margin: 10px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

/* Buton hover efekti */
.button-group button:hover {
    background-color: #00306a;
    transform: scale(1.05);
}